@media (min-width: 769px) {
	.main-header,
	.main-nav,
	.gallery {
		display: flex;
	}
	.main-header {
		flex-direction: row;
		align-items: center;
        justify-content: space-between;
        flex: 0 1 auto;
	}
	.gallery {
		flex-wrap: wrap;
        justify-content: center;
	}
    .gallery a
    {
        max-width: 47.5%
    }
}

@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
	.gallery{
		flex-basis: 0;
        justify-content: center;
	}
    .gallery a
    {
        max-width: 33%
    }
}