* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
    display: flex;
    flex-direction: column;
}

footer
{
    margin-bottom: 0;
    
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.main-nav {
	margin-top: 5px;
}

.name,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}
.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.main-footer {
	text-align: center;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
}
.gallery a img
{
    width:100%;
    display: block;
}
.gallery
{
    flex-grow: 1;
}
@media (min-width: 769px) {
	.main-header,
	.gallery {
		width: 100%;
		margin: 0 ;
	}
}
