doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Pikcher2.0
    #container.col
      if user
        p Welcome user.username
      else
        p Get on it!
        a(href='/auth/instagram') Login With Instagram
