html
    head
        title Pikcher 2.0 - Because Robin is Awesome
        
    body

        h1 #{params.user.get("token")}
        each image in params.images
            img(src = image.get("url")) 